# SQL

* 학습목표
  1. mysql 테이블 생성, 인덱스 설정 및 관계 설정
  2. JOIN 이해 및 실습
  3. python module을 통하여 SQL 작성

* mysql module
  - MySQLdb 모듈
  - sudo pip install MySQL-python
  - Windows 설치 에러 시,
    * pip install wheel
    * http://www.lfd.uci.edu/~gohlke/pythonlibs/#mysql-python 에서 버젼별 다운로드
    * pip install 다운받은파일.whl
    
  - osx 설치 EnvironmentError: mysql_config not found 에러 발생 시,
    * brew install mysql
    * mysql이 설치된 위치에 따라서, 
    * vi ~/.bash_profile 후 아래 줄 추가 후 저장
    * export PATH=$PATH:/usr/local/mysql/bin  이거나
    
    * export PATH=$PATH:/usr/local/Cellar/mysql/VERSION/bin/
    
    * source ~/.bash_profile
     
  - ubuntu에 설치 EnvironmentError: mysql_config not found 에러가 발생 시, 
    * sudo apt-get install libmysqlclient-dev 설치 후, 다시 설치

* MySQL-python module 실습

In [1]:
# mysql server가 설치된 호스트 주소
server = ''

* select one

In [7]:
import MySQLdb
# 접속할 서버 주소, DB 사용자 아이디, DB 사용자 비밀번호, DB
db = MySQLdb.connect(server, '','','world' )

cursor = db.cursor()

# 쿼리를 문자열로 전닯
cursor.execute("select * from country")

# 한개만 가져옴
data = cursor.fetchone()

print type(data)
print data

# 연결 종료
db.close()

<type 'tuple'>
('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000L, 78.4, 828.0, 793.0, 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129L, 'AW')

* select all

In [1]:
import MySQLdb
db = MySQLdb.connect(server, '',"","")

cursor = db.cursor()
cursor.execute("select * from country")

print cursor.rowcount

# 모두 가져옴
results = cursor.fetchall()
for row in results:
    print row

# disconnect from server
db.close()

NameError: name 'server' is not defined

* insert data

In [11]:
import MySQLdb
db = MySQLdb.connect(server, '',"","", cursorclass=MySQLdb.cursors.DictCursor)

cursor = db.cursor()

try:
   # transaction
   cursor.execute("""INSERT INTO city VALUES (10001,'Pangyo','KOR','PAN',170000);""")
   cursor.execute("""INSERT INTO city VALUES (10002,'Pangyo','KOR','PAN',170000);""")
   cursor.execute("""INSERT INTO city VALUES (10003,'Pangyo','KOR','PAN',170000);""")
   cursor.execute("""INSERT INTO city VALUES (10004,'Pangyo','KOR','PAN',170000);""")
        
   db.commit()
except Exception as e:
   db.rollback()
   print e


# disconnect from server
db.close()

* mysql table 설계 및 생성
  - 첨부된 test.sql 파일로 진행할 예정입니다.